*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  font-family: sans-serif;
}

h2 {
  font-size:2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #243747;
}

.navbar {
  background-color: #243747;
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content:right
}

.navbar img {
  width: 80px;
  margin-top: 20px;
}

.to-do-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Lista de tareas*/

.main-task {
  width: 700px;
  min-height: 400px;
  background-color: #F9FBFB;
  padding: 20px;
  margin: 10px;
  justify-content: center;
  border-radius: 24px;
  margin-top: 72px;
}